.pnr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;

}

.pnr__title{
    margin: 10px;
}

.pnr__search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: solid 2px rgb(235, 97, 143);
    padding: 20px;
    margin: 5px;
    width: 90%;
}

.pnr__search__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}


.pnr__search span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.pnr__update{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pnr__input{
    margin: 0 10px;
}