.balanceAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    width: 100%;
}

.balanceAdd__title{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
}

.balanceAdd__inputpanel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.balanceAdd__inputs{
    width: 200px;
}

.balanceAdd__agent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: solid 2px #2f2f2f;
    border-radius: 5px;
    width: 400px;
}

.balanceAdd__amount{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}